body{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
     background-color: #eee;
}

header{
    width: 95%;
    margin: 5px;
    padding: 10px;
    background-color: #1C658C;
    border: 5 px black solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;

}

header h1 {
    padding-left: 35%;

}

.figuras{
    display: block;
    width: 93.5%;
    margin: 30px 5px 5px 5px;
    height: 35%;
    border: 5px;
    padding:20px;
    background-color: rgb(235, 55, 55);
}
.cuadrado{
    display: inline-block;
    width: 22%;
    height: 230px;
    margin: 10px;
    padding: 20px;
    border: 5px;
    background-color: dimgray;
    box-shadow: 10px 5px 5px black;
}
.triangulo{
    display: inline-block;
    width: 30%;
    height: 250px;;
    margin: 50px;
    padding: 20px;
    border: 5px;
    background-color: rgb(100, 255, 80);
    box-shadow: 10px 5px 5px black; 
}
.circulo{
    display: inline-block;
    width: 22%;
    height: 230px;
    margin: 30px;
    padding: 20px;
    border: 5px;
    background-color: aqua;
    box-shadow: 10px 5px 5px black;
}

input{
    display:list-item;
}

.btn{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    color:antiquewhite;
    border-radius:15px;
    border-style: black 3px double;
    background-clip:padding-box;

    
}
.btn-calcperimetro{
    background-color: rgb(86, 86, 214);
}
.btn-calcarea{
background-color: #c5122a;
}

.btn-calcperimetro:hover{
    background-color: rgb(7, 7, 83);
}
.btn-calcperimetro:active{
    background-color: rgb(83, 83, 245);
}

.btn-calcarea:hover{
    background-color: rgb(77, 0, 23);
}
.btn-calcarea:active{
    background-color: rgb(236, 113, 119);
}

.footer{
    margin: 200px 5px 5px 5px;
    background-color: cyan;
    text-align: center;
    color: black;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}